/*---------------- Contact Form  --------------------*/

.contact-form {
	display: inline-block;
	h2 {margin: 0;}
	input[type="submit"].btn {font-size: 14px;}
	.alert {
		display: block;
		margin: 0.5em 0;
	}
	@media (min-width: $break-lg-phone) {
		display: block;
	}
}