@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,400,700");
@import url("http://fonts.googleapis.com/css?family=Raleway:400,700");
.main-nav:before, .search:before, .search.search-collapse .searchBox:before, .user-login:before, .main-nav:after, .search:after, .search.search-collapse .searchBox:after, .user-login:after {
  content: "";
  display: table; }
.main-nav:after, .search:after, .search.search-collapse .searchBox:after, .user-login:after {
  clear: both; }

#content div:empty, div.content-item:empty, div.content-item.page-item:empty, p:empty {
  display: none !important; }

.demo {
  background: #EEE;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0.5vh 2vh; }
  @media (min-width: 992px) {
    .demo {
      padding: 1vh 4vh; } }

.demo-wrap {
  background: white;
  border: 3px solid #DDD;
  margin: 2em auto;
  padding: 1em; }

.demo-title-bar {
  background-color: #F5F5F5;
  text-align: center;
  margin-bottom: 1.5em;
  padding: 0.75em; }

.demo-title {
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 0; }
  @media (min-width: 667px) {
    .demo-title {
      font-size: 1.7em; } }

.demo-toggle-btn {
  background: white;
  box-shadow: 0 0 0 1px #DDD;
  border-radius: 0.25em;
  color: #555;
  font-size: 0.6em;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 86px;
  margin: 0.75em auto 0;
  padding: 0.438em 0.7em;
  position: relative;
  width: 100%; }
  .demo-toggle-btn span[class*="icon-"] {
    border-radius: 0 0.25em 0.25em 0;
    font-size: 1em;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #CCC;
    padding-top: 0.4em;
    padding-left: 0.1em;
    height: 100%; }
  .demo-toggle-btn .icon-carret-up {
    background: #AAA;
    color: #333;
    padding-top: 0.35em;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25); }
  @media (min-width: 667px) {
    .demo-toggle-btn {
      padding: 0.438em 2.2em 0.438em 0.7em; } }

.code-demo {
  display: inline-block;
  margin: 0 auto;
  padding: 0 0.5em;
  width: 100%; }
  .code-demo .code-wrap {
    height: 0;
    margin-top: 1em;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
            transition: all 500ms ease; }

.view-code {
  display: block; }

.hide-code {
  display: none; }

.visible .code-wrap {
  display: block;
  height: auto;
  opacity: 1; }
.visible .view-code {
  display: none; }
.visible .hide-code {
  display: block; }

.toggle-mobile {
  display: none; }
  @media (min-width: 992px) {
    .toggle-mobile {
      display: block; } }

.mobile-demo {
  width: 480px; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  box-sizing: border-box;
  height: 100%;
  overflow-x: scroll; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/**
 * Remove default margin.
 */
body {
  font-size: 16px;
  height: 100%;
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  max-width: 100%; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em auto; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

button,
input {
  border: none;
  outline: 0; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'fontello';
  src: url("scss/base/fonts/font-resources/fontello.eot?6147341");
  src: url("scss/base/fonts/font-resources/fontello.eot?6147341#iefix") format("embedded-opentype"), url("scss/base/fonts/font-resources/fontello.woff?6147341") format("woff"), url("scss/base/fonts/font-resources/fontello.ttf?6147341") format("truetype"), url("scss/base/fonts/font-resources/fontello.svg?6147341#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('scss/base/fonts/font-resources/fontello.svg?6147341#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-play:before {
  content: '\e800'; }

/* '' */
.icon-angle-circled-left:before {
  content: '\e801'; }

/* '' */
.icon-edit:before {
  content: '\e802'; }

/* '' */
.icon-cancel-1:before {
  content: '\e803'; }

/* '' */
.icon-cancel:before {
  content: '\e804'; }

/* '' */
.icon-home-btn:before {
  content: '\e805'; }

/* '' */
.icon-carret-rt:before {
  content: '\e806'; }

/* '' */
.icon-carret-left:before {
  content: '\e807'; }

/* '' */
.icon-twitter:before {
  content: '\e808'; }

/* '' */
.icon-vimeo:before {
  content: '\e809'; }

/* '' */
.icon-youtube:before {
  content: '\e80a'; }

/* '' */
.icon-facebook:before {
  content: '\e80b'; }

/* '' */
.icon-calendar:before {
  content: '\e80c'; }

/* '' */
.icon-info-circled:before {
  content: '\e80d'; }

/* '' */
.icon-carret-down:before {
  content: '\e80f'; }

/* '' */
.icon-carret-up:before {
  content: '\e80e'; }

/* '' */
.icon-minus:before {
  content: '\e811'; }

/* '' */
.icon-plus:before {
  content: '\e812'; }

/* '' */
.icon-envelope:before {
  content: '\e813'; }

/* '' */
.icon-tools:before {
  content: '\e814'; }

/* '' */
.icon-megaphone:before {
  content: '\e815'; }

/* '' */
.icon-volume-up:before {
  content: '\e816'; }

/* '' */
.icon-camera:before {
  content: '\e817'; }

/* '' */
.icon-video:before {
  content: '\e818'; }

/* '' */
.icon-picture:before {
  content: '\e819'; }

/* '' */
.icon-camera-1:before {
  content: '\e81a'; }

/* '' */
.icon-search-1:before {
  content: '\e81c'; }

/* '' */
.icon-mobile:before {
  content: '\e81d'; }

/* '' */
.icon-right-circled:before {
  content: '\e81e'; }

/* '' */
.icon-left-circled:before {
  content: '\e81f'; }

/* '' */
.icon-angle-circled-right:before {
  content: '\e820'; }

/* '' */
.icon-arrow-left:before {
  content: '\e821'; }

/* '' */
.icon-arrow-rt:before {
  content: '\e822'; }

/* '' */
.icon-print:before {
  content: '\e823'; }

/* '' */
.icon-credit-card:before {
  content: '\e824'; }

/* '' */
.icon-user-pair:before {
  content: '\e825'; }

/* '' */
h1, h2, h3, h4, h5, h6, .title, .title a {
  color: #114582;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  margin: 0 0 15px;
  -ms-word-break: break-word;
  word-break: break-word; }

h1 {
  font-size: 1.875em; }

h2 {
  font-size: 1.500em; }

h3 {
  font-size: 1.125em; }

h4 {
  font-size: 0.875em; }

h5 {
  font-size: 0.750em; }

h6 {
  font-size: 0.750em; }

p {
  font-size: 0.75em; }
  @media (min-width: 480px) {
    p {
      font-size: 0.7em; } }
  @media (min-width: 768px) {
    p {
      font-size: 14px; } }

p.wire {
  background-color: grey;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  line-height: 500px;
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
  text-transform: uppercase; }

.sidebar p.wire {
  background-color: teal; }

/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none; }

.nav-collapse li {
  width: 100%;
  display: block; }

.js-nav .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.nav-collapse.opened {
  max-height: 9999px;
  overflow-y: scroll; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

@media screen and (min-width: 992px) {
  .js-nav .nav-collapse {
    position: relative;
    overflow: visible; }

  .js-nav .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; } }
/* ------------------------------------------
  NAVIGATION STYLES
  (+ responsive-nav.css file is loaded in the <head>)
--------------------------------------------- */
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }

.main-nav .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row-reverse wrap;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap; }

.nav-collapse {
  -webkit-box-flex: 100%;
  -webkit-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  list-style: none;
  margin-bottom: 0.5em;
  width: 100%; }
  .nav-collapse ul {
    list-style: none;
    width: 100%;
    float: left; }
    .nav-collapse ul li {
      float: left;
      width: 100%;
      position: relative;
      z-index: 1; }
      .nav-collapse ul li a {
        background: #EEE;
        border-bottom: 2px solid white;
        color: #555;
        text-decoration: none;
        width: 100%;
        padding: 0.7em 1em;
        float: left;
        -webkit-transition: all 400ms ease;
                transition: all 400ms ease; }
      .nav-collapse ul li.dropdown > a:after {
        content: "";
        content: "";
        font-family: "fontello";
        font-size: 0.875em;
        padding-left: 0.625em;
        width: 0.938em; }
      .nav-collapse ul li.dropdown:hover > a {
        /*
        						&:after {
        							content:"";
        							margin: 0;	
        						}
        */ }
      .nav-collapse ul li:hover a, .nav-collapse ul li.active a {
        background: #CCC; }
      .nav-collapse ul li:hover > .submenu, .nav-collapse ul li.active > .submenu {
        display: block; }
        .nav-collapse ul li:hover > .submenu li a, .nav-collapse ul li.active > .submenu li a {
          background: #AAA; }
          .nav-collapse ul li:hover > .submenu li a:hover, .nav-collapse ul li.active > .submenu li a:hover {
            background: #EEE; }
    .nav-collapse ul .submenu {
      display: none; }
      .nav-collapse ul .submenu li a {
        background: #CCC;
        padding-left: 1.5em; }
  @media screen and (min-width: 992px) {
    .nav-collapse {
      -webkit-box-flex: 75%;
      -webkit-flex: 75%;
          -ms-flex: 75%;
              flex: 75%; }
      .nav-collapse li {
        width: 25%;
        *width: 24.9%;
        /* IE7 Hack */
        _width: 19%;
        /* IE6 Hack */ }
        .nav-collapse li a {
          margin: 0;
          padding: 1em;
          float: left;
          text-align: center;
          border-bottom: 0;
          border-right: 1px solid white;
          position: relative;
          z-index: 1001; }
        .nav-collapse li:hover {
          cursor: pointer; }
          .nav-collapse li:hover ul {
            display: block; }
      .nav-collapse ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .nav-collapse ul li {
          position: relative; }
          .nav-collapse ul li.dropdown > a:after {
            float: none; }
          .nav-collapse ul li .submenu {
            position: absolute;
            top: 0;
            width: 100%;
            max-width: 400px;
            min-width: 250px;
            z-index: 1000;
            float: left;
            left: 0;
            padding-top: 41px; }
            .nav-collapse ul li .submenu li {
              display: block;
              float: none;
              width: 100%; }
              .nav-collapse ul li .submenu li a {
                display: block;
                text-align: left;
                padding: 1em;
                visibility: visible; }
              .nav-collapse ul li .submenu li:hover a {
                background: #EEE;
                padding-left: 1.5em; } }

.site-logo {
  -webkit-box-flex: 100%;
  -webkit-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  padding-top: 0.5em; }
  @media (min-width: 320px) {
    .site-logo {
      -webkit-box-flex: 45%;
      -webkit-flex: 45%;
          -ms-flex: 45%;
              flex: 45%;
      padding-right: 0.625em; }
      .site-logo img {
        max-width: 165px; } }
  @media (min-width: 992px) {
    .site-logo {
      -webkit-box-flex: 20%;
      -webkit-flex: 20%;
          -ms-flex: 20%;
              flex: 20%;
      padding-top: 0;
      padding-right: 5%; } }
  @media (min-width: 1200px) {
    .site-logo img {
      max-width: 200px; } }

/*
.nav-collapse {
	// 992
	@media (min-width: $break-md-screen) {
		.CMSListMenuUL {
			display: flex;
			li {
				position: relative;	
				.CMSListMenuUL {					
				  position: absolute;
				  top: 0;
				  width: 100%;
				  max-width: 400px;
				  min-width: 250px;
				  z-index: 1000;
				  float: left;
				  left: 0;
				  padding-top: 3.3em;
				  li {
					  display: block;
					  float: none;
					  width: 100%;				  
						a {
							display: block;
							text-align: left;
							transition: all 500ms ease;
						}
						&:hover {
							a {
								background: #8c1e1e;
								padding-left: 1em;	
							}
						}
					}
			  }
			}
		}
		li:hover {
			cursor: pointer;
			.CMSListMenuUL {
				display: block;
			}			
		}	
	}	
}
*/
/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */
@font-face {
  font-family: "responsivenav";
  src: url("scss/base/fonts/font-resources/responsivenav.eot");
  src: url("scss/base/fonts/font-resources/responsivenav.eot?#iefix") format("embedded-opentype"), url("scss/base/fonts/font-resources/responsivenav.ttf") format("truetype"), url("scss/base/fonts/font-resources/responsivenav.woff") format("woff"), url("scss/base/fonts/font-resources/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 55px;
  float: right;
}


.nav-toggle:before {
  color: #f4421a;   
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 28px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}
*/
.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 115px;
  height: 55px;
  float: right;
  -webkit-box-flex: 100%;
  -webkit-flex: 100%;
      -ms-flex: 100%;
          flex: 100%; }
  @media (min-width: 320px) {
    .nav-toggle {
      -webkit-box-flex: 1%;
      -webkit-flex: 1%;
          -ms-flex: 1%;
              flex: 1%; } }
  @media (min-width: 480px) {
    .nav-toggle {
      -webkit-box-flex: 0;
      -webkit-flex: none;
          -ms-flex: none;
              flex: none; } }

.nav-toggle:before {
  background: #EEE;
  color: darkcyan;
  font-family: "Montserrat", sans-serif, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  font-size: 1.25em;
  letter-spacing: -0.05em;
  text-transform: none;
  position: absolute;
  content: "MENU";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  margin-left: 0;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 400ms ease;
          transition: all 400ms ease; }

.nav-toggle.active:before {
  color: darkred;
  font-family: "fontello";
  font-size: 1.25em;
  font-weight: 700;
  line-height: 55px;
  height: 55px;
  content: ""; }

.nav-toggle:hover:before {
  color: #555;
  font-size: 1.5em; }
.nav-toggle:hover.active:before {
  color: #dc2626;
  font-size: 1.875em; }

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y; }

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%; }

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
          transition: height 500ms ease-in-out; }

.owl-carousel .owl-item {
  float: left; }

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer; }

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move; }

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center; }

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5; }

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none; }

/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */ }

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  border-radius: 20px;
  background: #869791; }

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1; }

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 30px; }

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url("scss/plugins/owl-carousel/AjaxLoader.gif") no-repeat center center; }

/* 
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */
.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x: 50%;
  -webkit-perspective-origin-y: 50%;
  -moz-perspective: 1200px;
  -moz-perspective-origin-x: 50%;
  -moz-perspective-origin-y: 50%;
  -webkit-perspective: 1200px;
          perspective: 1200px; }

/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease; }

.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease; }

/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease; }

.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease; }

/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both; }

.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  animation: goDown .6s ease both; }

/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both; }

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both; }

/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {
    opacity: 1; } }
@keyframes empty {
  0% {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes backSlideOut {
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px); }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%); } }
@keyframes backSlideOut {
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
            transform: translateZ(-500px); }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
            transform: translateZ(-500px) translateX(-200%); }
  100% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
            transform: translateZ(-500px) translateX(-200%); } }
@-webkit-keyframes backSlideIn {
  0%, 25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(200%); }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0); } }
@keyframes backSlideIn {
  0%, 25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(200%);
            transform: translateZ(-500px) translateX(200%); }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
            transform: translateZ(-500px); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0); } }
@-webkit-keyframes scaleToFade {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8); } }
@keyframes scaleToFade {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); } }
@-webkit-keyframes goDown {
  from {
    -webkit-transform: translateY(-100%); } }
@keyframes goDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }
@-webkit-keyframes scaleUpFrom {
  from {
    opacity: 0;
    -webkit-transform: scale(1.5); } }
@keyframes scaleUpFrom {
  from {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }
@-webkit-keyframes scaleUpTo {
  to {
    opacity: 0;
    -webkit-transform: scale(1.5); } }
@keyframes scaleUpTo {
  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }
/* --- Global Layout Styles --- */
.main-nav {
  padding: 1.125em 0;
  /*
  	&:last-child {
  		padding: 0;	
  	}
  */ }

/* --- Main Content --- */
.main-content {
  height: 100%; }

/* --- Buttons --- */
.btn, .user-links a {
  background-color: #114582;
  border-radius: 4px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.625em;
  margin-left: 0;
  padding: 0.5em 0.938em;
  -webkit-transition: all 400ms ease;
          transition: all 400ms ease;
  text-transform: uppercase;
  text-decoration: none; }
  .btn:hover, .user-links a:hover {
    margin-left: 0.5em;
    opacity: 0.8; }
  .btn a, .user-links a a {
    color: white;
    font-size: 10px; }

/* --- Search --- */
.search {
  padding: 1.125em 0;
  /*
  	&:last-child {
  		padding: 0;	
  	}
  */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .search .searchBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 500px; }
  .search input {
    margin: 0;
    border-radius: 0; }
  .search input[type="text"] {
    background: white;
    border: 1px solid #DDD;
    color: #555;
    -webkit-box-flex: 3;
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
    font-size: 1em;
    padding: 0.875em 0.5em; }
  .search input[type="submit"] {
    background: #114582;
    color: white;
    font-size: 1.125em;
    font-family: "fontello";
    -webkit-box-flex: 0.5;
    -webkit-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
    padding: 0.313em 0.625em 0.375em; }
    .search input[type="submit"]:hover {
      opacity: 0.7; }
  @media (min-width: 768px) {
    .search input[type="text"] {
      -webkit-box-flex: 4;
      -webkit-flex: 4;
          -ms-flex: 4;
              flex: 4; } }

.search.mobile {
  margin: 24px 10px 0 0; }
  .search.mobile div {
    background: #1861b6;
    color: white;
    font-size: 16px;
    font-family: 'FontAwesome';
    padding: 5px 12px;
    border-radius: 4px; }
    .search.mobile div span {
      min-width: 18px; }
  .search.mobile .open-search {
    display: none; }
  .search.mobile .close-search {
    display: block; }
  .search.mobile .collapsed .open-search {
    display: block !important; }
  .search.mobile .collapsed .close-search {
    display: none !important; }

.search.search-collapse {
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25); }
  .search.search-collapse input[type="text"] {
    color: #555;
    max-width: none;
    padding: 8px 8px 8px 12px;
    width: 88%; }
  .search.search-collapse input[type="submit"] {
    background: #114582;
    width: 12%;
    margin: 0;
    padding: 6px 10px; }
  @media (min-width: 768px) {
    .search.search-collapse {
      display: none !important; } }

.gecko .search .searchBox input[type="submit"] {
  padding: 8px 10px; }

@media (min-width: 768px) {
  .gecko .search .searchBox input[type="text"] {
    padding: 9px 5px 12px 10px; }

  .gecko .search .searchBox input[type="submit"] {
    padding: 8px 15px; } }
/* --- User Login --- */
.user-login {
  padding: 1.125em 0;
  /*
  	&:last-child {
  		padding: 0;	
  	}
  */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.current-user {
  padding-bottom: 0.625em; }
  .current-user .user-name {
    font-size: 0.875em;
    padding-right: 0.625em; }

.user-links a {
  margin-right: 0.625em; }
  .user-links a:last-child {
    margin-right: 0; }
