/* --- Buttons --- */

.btn {
	background-color: $primary-color;
	border-radius: 4px;
	color: white;
	font-family: $Montserrat;
	font-size: 0.625em;
	margin-left: 0;	
	padding: 0.5em 0.938em;
	transition: all 400ms ease;
	text-transform: uppercase;
	text-decoration: none;	
	&:hover {
		margin-left: 0.5em;	
		opacity: 0.8;
	}
	a {	
		color:white;
		font-size: 10px;
	}
}