/*---------------- Bootstrap Overrides --------------------*/

img {max-width: 100%;}

/* --- Form Styles --- */

input[type="submit"] {
	@extend .btn;
	margin-top: 10px;
}

button, input {border: none; outline: 0;}

input[type="text"], input[type="email"], input[type="search"], input[type="password"], input[type="submit"] {-webkit-appearance:none;}

.btn-link:hover, .btn-link:focus {text-decoration: none;}

textarea.form-control {min-height: 100px;}

.alert {
	display: inline-block;
	font-size: 13px;
	margin-bottom: 5px;
	padding: 10px 15px;
}

.alert:empty {display: none;}

.media {
	overflow: visible;
	zoom: normal;
}

.slider-wrap {
	margin-bottom: 15px;
	padding: 0;
	@media (min-width: $break-md-screen) {
		margin-bottom: 0;
		padding-right: 15px;
	}
}


/*---------------- FancyBox --------------------*/

.image-select {transform: translate3d(0);}

.fancybox-title {
	font-size: 1em;
	text-align: center;
	@media (min-width: $break-md-screen) {
		font-size: 1.25em;
	}
}