/* -- Content Item  -- */

.content-text {@extend %clearfix;}

.content-post:last-child {margin-bottom:0;}

figure, .avatar {
	margin-bottom: 15px;
	position: relative;
	width: 100%;
	img {
		height: auto !important;
		min-width: 100%;
	}
	@media (min-width: $break-lg-phone) {
		float:left;
		margin:0 3% 10px 0;
		width: 40%;
	}
	@media (min-width: $break-md-screen) {
		width: 45%;
	}
	.one-col figure {
		@media (min-width: $break-lg-phone) {width: 30%;}
		@media (min-width: $break-md-screen) {width: 35%;}
	}
	figcaption {
		background-color: rgba(0,0,0,0.75);
		color:#f5f5f5;
		font:italic 10px/12px $Helvetica;
		height:auto;	
		overflow: hidden;
		padding: 5px 8px;
		position: absolute;
		text-align: center;
		bottom: 0;	
		width:100%;
		@media (min-width: $break-sm-phone) {text-align: right;}
		@media (min-width: $break-md-screen) {font-size: 12px;}
		a {text-decoration: underline;}
	}
}

.page-title {
	float: none;
	padding: 0;
	h1 {
		border-bottom: 1px solid #CCC;
		font-size: 1.85em;
		line-height: 24px;
		padding-bottom: 10px;
		margin:5px 0 25px 0;
		@media (min-width: $break-lg-phone) {font-size: 1.5em;}
	}	
}

.title, .title a {
	font-size: 1.45em;
	line-height: 1.015em;
	margin-bottom: 4px;
	@media (min-width: $break-lg-phone) {font-size: 0.9em;}
	@media (min-width: $break-md-screen) {font-size: 1em;}
}

.subtitle, .post-info {
	color: #999;
	font-size: 14px;
	font-style: italic;
	line-height: 18px;
	margin-bottom: 5px;
	@media (min-width: $break-lg-phone) {font-size: 0.6em;}
}

.subtitle {}

.description {
	 ul {
		 font-size: 15px;
		 li {line-height: 18px;}
	 }
	 @media (min-width: $break-lg-phone) {font-size: 14px;}
}

header h2, .content-item h2, .BlogCommentsTitle, .BlogLeaveComment {}

.module header {}

.BlogCommentsTitle {}

.BlogLeaveComment {}

.read-more {
	//line-height: 0;
	a {@extend .btn;}
	@media (min-width: $break-lg-phone) {
		a {font-size: 10px;}
	}
}

.read-more:hover {}


/* --- Default  --- */

figure figcaption a {
	color:#4582cc;
	display: inline;
	text-decoration:underline !important;
}

.default li, .option li {
	list-style-type:disc;	
	line-height:20px;
	margin-bottom:10px;
}

.default li a, .option li a {}

.content-item h3 {font-size:20px;}

/* --- Page Item --- */

.page-item .content-post {}

.page-item figure {	width:25%;}